#app-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 10px;
    gap: 10px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 10px;
    height: 100%;
}
#thermostat {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 10px;
}
#set_run_flag {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    //padding-right: 6px;
    //border: 1px solid lightgrey;
    gap: 5px;
}
#set_point {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    //padding-right: 6px;
    //border: 1px solid lightgrey;
    gap: 5px;
}
#sp_val {
    text-align: right;
    padding-right: 4px;
}
#set_hist {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    //padding-right: 6px;
    //border: 1px solid lightgrey;
    gap: 5px;
}
#hist_val {
    text-align: right;
    padding-right: 4px;
}
#set_duty {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    //padding-right: 6px;
    //border: 1px solid lightgrey;
    gap: 5px;
}
#duty_val {
    text-align: right;
    padding-right: 4px;
}
#set_thermostat {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    padding-top: 10px;
    //padding-right: 6px;
    //border: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    gap: 5px;
}
#tc {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    padding-right: 6px;
    border-bottom: 1px solid lightgrey;
}
#graph_cont {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px;
    //padding-right: 6px;
    //border: 1px solid lightgrey;
    border: 1px solid lightgrey;
    border-radius: 6px;
    gap: 10px;
}

#ts_status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    padding-right: 6px;
    border: 1px solid lightgrey;
    font-size: 16px;
    gap: 10px;
}

