/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: appFont;
    src: url("assets/fonts/VarelaRound-Regular.ttf");
    //font-style: normal;
    //font-weight: normal;
  }

  * {
    font-family: appFont;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


